body {
	padding-top: 50px;
	color: #959595;
	}
	
h1, h2, h3, h4, h5, h6 {
	color: green;
	}
	
.feature {
	background: darkred linear-gradient(to bottom, red, purple);
	color: lightgreen;
	}

#feature-carousel {
	min-height: 250px;
	}
	
.article-intro {
    margin-bottom: 25px;
}

.footer-blurb {
    padding: 30px 0;
	background-image: url(hg.jpg);
	background-repeat: repeat-x;
}
    
.footer-blurb-item {
    padding: 30px;
    }
 
.small-print {
	background-color: #fff;
	padding: 30px 0;
}
p {
	color:lime;
}

.feature,
.page-intro,
.article-intro,
.footer-blurb,
.small-print {
	text-align: center;
	}